        

.w3-bar.w3-theme-d3
    if r != ""
        - var ref2 = ref + `&r=${r}`
    else
        - var ref2 = ref 
    form(action=`/recursos/filtrar?ref=${ref2}` method='POST' style="display:none" id="showFiltros")
        h6.w3-margin-left Género: 
            each t in tipos
                input.w3-check.w3-opacity.w3-margin-left(style="height:20px" type="checkbox" name="filterBy" value=t checked=filter.includes(t))
                label  #{t}
            input.w3-margin-right.w3-opacity.w3-round.w3-button.w3-right.w3-padding-small(type="submit" value="Aplicar")
            br
            label.w3.margin-left.w3-margin-top Classificação: 
            input.w3-opacity.w3-radio.w3-margin-left.w3-margin-top(style="height:20px" type="radio" name="classificarBy" value="5" checked=(classificar==5))
            label  5  
            input.w3-opacity.w3-radio.w3-margin-left(style="height:20px" type="radio" name="classificarBy" value="4" checked=(classificar==4))
            label  4+  
            input.w3-opacity.w3-radio.w3-margin-left(style="height:20px" type="radio" name="classificarBy" value="3" checked=(classificar==3))
            label  3+  
            input.w3-opacity.w3-radio.w3-margin-left(style="height:20px" type="radio" name="classificarBy" value="2" checked=(classificar==2))
            label  2+  
            input.w3-opacity.w3-radio.w3-margin-left(style="height:20px" type="radio" name="classificarBy" value="1" checked=(classificar==1))
            label  1+  
            input.w3-opacity.w3-radio.w3-margin-left(style="height:20px" type="radio" name="classificarBy" value="-1" checked=(classificar==-1))
            label.w3-margin-right  todos
            br
            if vis < 4
                label.w3-margin-top Visibilidade:
                select.w3-margin-top.w3-margin-left.w3-round.w3-theme-d3.w3-opacity.w3-border-light-grey.w3-margin-right(name="visBy")
                    option.w3-theme-d3.w3-hover-blue-grey.w3-hover-opacity(value=filterVis)= filterVis
                    if filterVis != "todos"
                        option.w3-theme-d3.w3-hover-blue-grey.w3-hover-opacity(value="todos") Todos
                    if filterVis != "publico"
                        option.w3-theme-d3.w3-hover-blue-grey.w3-hover-opacity(value="publico") Público
                    if filterVis != "privado"
                        option.w3-theme-d3.w3-hover-blue-grey.w3-hover-opacity(value="privado") Privado

            - var sortValue0 = sort[0]
            if sortValue0 === "produtor"
                - sortValue0 = "owner"
            label.w3-margin-top Ordenar por:
            select.w3-margin-top.w3-margin-left.w3-round.w3-theme-d3.w3-opacity.w3-border-light-grey(name="sortBy" onchange="showSort2(this.value)")
                option.w3-theme-d3.w3-hover-blue-grey.w3-hover-opacity(value=sortValue0)= sort[0]
                if sort[0] != "titulo"
                    option.w3-theme-d3.w3-hover-blue-grey.w3-hover-opacity(value="titulo") Título
                if sort[0] != "autor"
                    option.w3-theme-d3.w3-hover-blue-grey.w3-hover-opacity(value="autor") Autor
                if produtor
                    if sort[0] != "produtor"
                        option.w3-theme-d3.w3-hover-blue-grey.w3-hover-opacity(value="owner") Produtor
                if sort[0] != "classificacao"
                    option.w3-theme-d3.w3-hover-blue-grey.w3-hover-opacity(value="classificacao") Classificação
                if sort[0] != "tipo"
                    option.w3-theme-d3.w3-hover-blue-grey.w3-hover-opacity(value="tipo") Tipo
                if sort[0] != "dataRegisto"
                    option.w3-theme-d3.w3-hover-blue-grey.w3-hover-opacity(value="dataRegisto") Data Registo
            select.w3-margin-top.w3-round.w3-theme-d3.w3-opacity.w3-border-light-grey(name="orderBy")
                option.w3-theme-d3.w3-hover-blue-grey.w3-hover-opacity(value=order[0])= order[0]
                if order[0] != "asc"
                    option.w3-theme-d3.w3-hover-blue-grey.w3-hover-opacity(value="asc") asc
                if order[0] != "desc"
                    option.w3-theme-d3.w3-hover-blue-grey.w3-hover-opacity(value="desc") desc

            - var dispSort = "none"
            if sort[0] != "titulo"
                - var dispSort = "inline"
            - var sortValue1 = sort[1]
            if sortValue1 === "produtor"
                - sortValue1 = "owner"

            select.w3-margin-top.w3-margin-left.w3-round.w3-theme-d3.w3-opacity.w3-border-light-grey(class="sort2" name="sortBy" style=`display:${dispSort}`)
                option.w3-theme-d3.w3-hover-blue-grey.w3-hover-opacity(value=sortValue1)= sort[1]
                if sort[1] != "titulo"
                    option.w3-theme-d3.w3-hover-blue-grey.w3-hover-opacity(value="titulo") Título
                if sort[1] != "autor"
                    option.w3-theme-d3.w3-hover-blue-grey.w3-hover-opacity(value="autor" class="autor") Autor
                if produtor
                    if sort[1] != "produtor"
                        option.w3-hover-blue-grey.w3-hover-opacity(value="owner") Produtor
                if sort[1] != "classificacao"
                    option.w3-theme-d3.w3-hover-blue-grey.w3-hover-opacity(value="classificacao") Classificação
                if sort[1] != "tipo"
                    option.w3-theme-d3.w3-hover-blue-grey.w3-hover-opacity(value="tipo") Tipo
                if sort[1] != "dataRegisto"
                    option.w3-theme-d3.w3-hover-blue-grey.w3-hover-opacity(value="dataRegisto" class="dataRegisto") Data Registo
            select.w3-margin-top.w3-round.w3-theme-d3.w3-opacity.w3-border-light-grey(class="sort2" name="orderBy" style=`display:${dispSort}`)
                option.w3-theme-d3.w3-hover-blue-grey.w3-hover-opacity(value=order[1])= order[1]
                if order[1] != "asc"
                    option.w3-theme-d3.w3-hover-blue-grey.w3-hover-opacity(value="asc") asc
                if order[1] != "desc"
                    option.w3-theme-d3.w3-hover-blue-grey.w3-hover-opacity(value="desc") desc

    if produtor
        form(action='/recursos/procurar' method='POST')
            h6.w3-margin-left Procurar: 
                input.w3-opacity.w3-round.w3-margin-left(name="search")
                span.w3-opacity.w3-right.w3-margin-right(id="buttonShowFiltros" style="display:block; cursor:pointer" onclick="document.getElementById('showFiltros').style.display='block';document.getElementById('buttonShowFiltros').style.display='none';document.getElementById('buttonHideFiltros').style.display='block';") + abrir filtros&nbsp;&nbsp;
                span.w3-opacity.w3-right.w3-margin-right(id="buttonHideFiltros" style="display:none; cursor:pointer" onclick="document.getElementById('showFiltros').style.display='none';document.getElementById('buttonShowFiltros').style.display='block';document.getElementById('buttonHideFiltros').style.display='none';") - fechar filtros&nbsp;&nbsp;
    else
        p.w3-opacity.w3-margin-left(id="buttonShowFiltros" style="display:block; cursor:pointer" onclick="document.getElementById('showFiltros').style.display='block';document.getElementById('buttonShowFiltros').style.display='none';document.getElementById('buttonHideFiltros').style.display='block';") + abrir filtros&nbsp;&nbsp;
        p.w3-opacity.w3-margin-left(id="buttonHideFiltros" style="display:none; cursor:pointer" onclick="document.getElementById('showFiltros').style.display='none';document.getElementById('buttonShowFiltros').style.display='block';document.getElementById('buttonHideFiltros').style.display='none';") - fechar filtros&nbsp;&nbsp;