        
//- Listar recursos
if recursos.length
    .w3-bar.w3-theme-d3
        h6.w3-margin-left Género: 
            each t in tipos
                input.w3-check.w3-opacity.w3-margin-left(style="height:20px" type="checkbox" value="checked" class="check" onclick=`showGeneros(event, '${t}')` checked)
                label  #{t}
            button.w3-opacity.w3-round.w3-button.w3-right.w3-padding-small(id="limpar" onclick="limparGeneros(event)") Limpar
        

        form(action='/recursos/procurar' method='POST')
            h6.w3-margin-left Procurar: 
                input.w3-opacity.w3-round.w3-margin-left(name="search")

        h6
            span.w3-dropdown-hover.w3-margin-left.w3-margin-bottom.w3-theme-d3 Ordenar por:
                span.w3-text-white.w3-round.w3-border-0.w3-hover-opacity.w3-theme-d3.w3-margin-left= sort
                span.w3-dropdown-content.w3-bar-block
                    if sort != "id"
                        a(href=`${ref}sortBy=id`).w3-bar-item.w3-button.w3-theme-d3.w3-hover-opacity ID
                    if sort != "titulo"
                        a(href=`${ref}sortBy=titulo`).w3-bar-item.w3-button.w3-theme-d3.w3-hover-opacity Título
                    if vis != 2
                        if vis != 3
                            if sort != "owner"
                                a(href=`${ref}sortBy=owner`).w3-bar-item.w3-button.w3-theme-d3.w3-hover-opacity Produtor
                    if sort != "dataRegisto"
                        a(href=`${ref}sortBy=dataRegisto`).w3-bar-item.w3-button.w3-theme-d3.w3-hover-opacity Data Registo
                            
    table.w3-table.w3-bordered

        //- Ordenado por produtor
        if sort === "owner"
            tr.w3-theme-d2
                th(style="width:300px;") Produtor
                th ID
                th(style="width:600px;") Título
                th.w3-center Tipo
                th.w3-center Data Registo
                if vis != 4
                    th.w3-center
                        select.w3-theme-d2.w3-border-0(id="visSelect" onchange=`showVis('')`)
                                option(value='3') Visibilidade
                                option(value='1') Privado
                                option(value='2') Público
                    th.w3-center 
            each o in recursos
                tr
                    th.w3-text-blue-grey
                        a(href=`/user/${o._id}`)= o._id
                    td
                    td
                    td
                    td
                    if vis == 1
                        td  
                        td
                each r in o.recursos
                    tr(id="" class=`recurso ${r.tipo} ${r.visibilidade}` style="display:")
                        td
                        td.w3-padding-large
                            a(href=`/recurso/${r.id}`) #{r.id} 
                        td.w3-padding-large= r.titulo 
                        td.w3-padding-large.w3-center #{r.tipo}
                        td.w3-padding-large.w3-center #{r.dataRegisto}

                        if vis != 4
                            if r.visibilidade == 1
                                td.w3-padding-large.w3-center Privado
                            else
                                td.w3-padding-large.w3-center Público
                        
                            td
                                button.w3-button.w3-padding-small.w3-round.w3-meddium.w3-hover-red.w3-right.w3-margin-right(onclick=`addConfirmacao('recurso', '/recurso/${r.id}/remover?tab=1');`) 
                                    u Eliminar
                                if vis == 2
                                    a(href=`/recurso/${r.id}/editar`)
                                        button.w3-button.w3-padding-small.w3-round.w3-meddium.w3-hover-opacity.w3-right.w3-margin-right 
                                            u Editar

        //- Ordenado normal
        else
            tr.w3-theme-d2
                th ID
                th(style="width:600px;") Título
                if vis != 2
                    th(style="width:300px;") Produtor
                th.w3-center Tipo
                th.w3-center Data Registo
                if vis != 4
                    th.w3-center
                        select.w3-theme-d2.w3-border-0(id="visSelect" onchange=`showVis('')`)
                                option(value='3') Visibilidade
                                option(value='1') Privado
                                option(value='2') Público
                    th.w3-center 

            each r in recursos

                tr(id="" class=`recurso ${r.tipo} ${r.owner} ${r.visibilidade}` style="display:")
                    td.w3-padding-large
                        a(href=`/recurso/${r.id}`) #{r.id} 
                    td.w3-padding-large= r.titulo 
                    if vis != 2
                        if vis != 3
                            td.w3-padding-large
                                a(href=`/user/${r.owner}`) #{r.owner}
                    td.w3-padding-large.w3-center #{r.tipo}
                    td.w3-padding-large.w3-center #{r.dataRegisto}

                    if vis != 4
                        if r.visibilidade == 1
                            td.w3-padding-large.w3-center Privado
                        else
                            td.w3-padding-large.w3-center Público
                    
                        td
                            button.w3-button.w3-padding-small.w3-round.w3-meddium.w3-hover-red.w3-right.w3-margin-right(onclick=`addConfirmacao('recurso', '/recurso/${r.id}/remover?tab=1');`) 
                                u Eliminar
else
    p.w3-margin-left Não existem recursos.
