        
//- Listar recursos
include ./filtros.pug
if recursos.length

    table.w3-table.w3-bordered

        //- Ordenado por grupos
        tr.w3-theme-d2
            if sort[0] === "produtor"
                th(style="width:200px;") Produtor
            else if sort[0] === "autor"
                th(style="width:250px;")  Autor
            else if sort[0] === "dataRegisto"
                th(style="width:250px;")  Data Registo
            else if sort[0] === "classificacao"
                th.w3-center
                    i(class="fa fa-star")
            else if sort[0] === "tipo"
                th Tipo
            
            th(style="width:500px;") Título
            
            if sort[0] != "autor"
                th(style="width:250px;") Autor
            if sort[0] != "produtor"
                th(style="width:200px;") Produtor
            if sort[0] != "classificacao"
                th.w3-center
                    i(class="fa fa-star")
            if sort[0] != "tipo"
                th Tipo
            if sort[0] != "dataRegisto"
                th.w3-center Data Registo
            if vis < 4
                th.w3-center Visibilidade
                th.w3-center 


        each o,ind in recursos
            each rec,i in o.recursos
                tr.w3-hover-text-blue-grey(id="" class=`recurso ${rec.tipo} ${rec.visibilidade}` style="display:")
                    if i == 0
                        if sort[0] === "produtor"
                            th.w3-text-blue-grey
                                a(href=`/user/${o._id}` style="text-decoration:none;")= o._id
                        else if sort[0] === "titulo"
                            td.w3-padding-large
                                a(href=`/recurso/${rec._id}?vis=${rec.visibilidade}`) #{rec.titulo} 
                        else if sort[0] === "classificacao"
                            if o._id == -1
                                td.w3-padding-large.w3-center --
                            else
                                td.w3-padding-large.w3-center= o._id
                        else
                            td.w3-padding-large= o._id
                    else 
                        if sort[0] === "titulo"
                            td.w3-padding-large
                                a(href=`/recurso/${rec._id}?vis=${rec.visibilidade}`) #{rec.titulo}
                        else 
                            td.w3-padding-large
                    if sort[0] != "titulo"
                        td.w3-padding-large
                            a(href=`/recurso/${rec._id}?vis=${rec.visibilidade}`) #{rec.titulo} 
                    if sort[0] != "autor"
                        td.w3-padding-large #{rec.autor}
                    if sort[0] != "produtor"
                        td.w3-padding-large
                            a(href=`/user/${rec.owner}`) #{rec.owner}
                    if sort[0] != "classificacao"
                        if rec.classificacao == -1
                            td.w3-padding-large.w3-center --
                        else
                            td.w3-padding-large.w3-center #{rec.classificacao}
                    if sort[0] != "tipo"
                        td.w3-padding-large #{rec.tipo}
                    if sort[0] != "dataRegisto"
                        td.w3-padding-large.w3-center #{rec.dataRegisto}

                    if vis < 4
                        if vis == 3
                            if rec.visibilidade == 1
                                td.w3-padding-large.w3-center 
                                    span.w3-dropdown-click(onclick=`dropVis(${ind},${i})`) Privado
                                        i.w3-opacity(class="fa fa-angle-down")
                                        a.w3-dropdown-content.w3-light-grey.w3-borderec.w3-hover-blue-grey.w3-hover-opacity(id=`dropVis${ind}${i}` href=`/recurso/${rec._id}/editar?visibilidade=2&r=${r}` style="cursor:pointer;") 
                                            .w3-left.w3-padding-small Tornar Público
                            else
                                td.w3-padding-large.w3-center 
                                    span.w3-dropdown-click(onclick=`dropVis(${ind},${i})`) Público
                                        i.w3-opacity(class="fa fa-angle-down")
                                        a.w3-dropdown-content.w3-light-grey.w3-borderec.w3-hover-blue-grey.w3-hover-opacity(id=`dropVis${ind}${i}` href=`/recurso/${rec._id}/editar?visibilidade=1&r=${r}` style="cursor:pointer;") 
                                            .w3-left.w3-padding-small Tornar Privado
                        else
                            if rec.visibilidade == 1
                                td.w3-padding-large.w3-center Privado
                            else
                                td.w3-padding-large.w3-center Público
                    
                        td
                            button.w3-button.w3-padding-small.w3-round.w3-meddium.w3-hover-red.w3-right.w3-margin-right(onclick=`addConfirmacao('confirmarRecurso', '/recurso/${rec._id}/remover?ref=${ref}&r=${r}');`) 
                                u Eliminar
                            if vis == 2
                                button.w3-button.w3-padding-small.w3-round.w3-meddium.w3-hover-blue-grey.w3-right.w3-margin-right 
                                    a(href=`/recurso/${rec._id}/editar`) Editar

else
    p.w3-margin-left Não existem recursos.


//- de certeza que queres eliminar?
div.w3-modal(id="confirmarRecurso" style="display:none")
    div.w3-modal-content.w3-theme-d3.w3-round-large(style="width:450px")
        div.w3-container.w3-padding-16
            h5.w3-center.w3-margin-bottom(id="questao_recurso") Tem a certeza que quer eliminar este recurso?
            h5.w3-center
                a(id="ref" href="")
                    button.w3-button.w3-round.w3-white.w3-text-blue-grey.w3-medium
                        i(class="fa fa-check")
                button.w3-button.w3-round.w3-white.w3-text-blue-grey.w3-medium.w3-margin-left(onclick="document.getElementById('confirmarRecurso').style.display='none'")
                    i(class="fa fa-close")
