


div.w3-display-container(class="users", id="consumidores", style=`display:${tab31}`)

    if consumidores.length
        table.w3-table.w3-bordered
            tr.w3-theme-d1
                th(style="width:500px;") Username
                th.w3-center(style="width:500px;") Afiliação
                th Último Acesso
                th
            each c in consumidores
                tr
                    td.w3-padding-large 
                        a(href=`/user/${c.username}?tab=users`) #{c.username} 
                    td.w3-padding-large.w3-center= c.filiacao
                    td.w3-padding-large= c.dataLastAcess 
                    td
                        button.w3-button.w3-padding-small.w3-round.w3-meddium.w3-hover-red.w3-right.w3-margin-right(onclick=`addConfirmacao('utilizador', '/user/${c.username}/remover?tab=users');`) 
                            u Eliminar
                        button.w3-button.w3-padding-small.w3-round.w3-meddium.w3-hover-blue-grey.w3-right.w3-margin-right
                            a(href=`/user/${c.username}/upgrade`) Upgrade
                        
    else
        p.w3-margin-left Não existem consumidores.

div.w3-display-container(class="users", id="produtores", style=`display:${tab32}`)

    if produtores.length

        table.w3-table.w3-bordered
            tr.w3-theme-d1
                th(style="width:500px;") Username
                th.w3-center(style="width:500px;") Afiliação
                th Último Acesso
                th
            each pr in produtores
                tr
                    td.w3-padding-large
                        a(href=`/user/${pr.username}?tab=prods`)  #{pr.username}
                    td.w3-padding-large.w3-center #{pr.filiacao}  
                    td.w3-padding-large= pr.dataLastAcess 
                    td
                        button.w3-button.w3-padding-small.w3-round.w3-meddium.w3-hover-red.w3-right.w3-margin-right(onclick=`addConfirmacao('utilizador', '/user/${pr.username}/remover?tab=prods');`) 
                            u Eliminar
                        button.w3-button.w3-padding-small.w3-round.w3-meddium.w3-hover-blue-grey.w3-right.w3-margin-right
                            a(href=`/user/${pr.username}/downgrade`) Downgrade

    else
        p.w3-margin-left Não existem produtores.
