        
//- Listar recursos
.w3-display-container(class="lista", id="recursos", style=`display:${tab1}`)
    if recursos.length
        table.w3-table.w3-bordered

            //- Ordenado por produtor
            if sort === "owner"
                tr.w3-theme-d2
                    th(style="width:300px;") Produtor
                    th ID
                    th(style="width:600px;") Título
                    th.w3-center Tipo
                    th.w3-center Data Registo
                    if nivel == "admin"
                        th.w3-center
                            select.w3-theme-d2.w3-border-0(id="visSelect" onchange=`showVis('')`)
                                    option(value='3') Visibilidade
                                    option(value='1') Privado
                                    option(value='2') Público
                        th.w3-center 
                each o in recursos
                    tr
                        td
                            a(href=`/user/${o._id}`)= o._id
                        td
                        td
                        td
                        td
                        td
                        td
                    each r in o.recursos
                        tr(id="" class=`recurso ${r.tipo} ${r.visibilidade}` style="display:")
                            td
                            td.w3-padding-large
                                a(href=`/recurso/${r.id}`) #{r.id} 
                            td.w3-padding-large= r.titulo 
                            td.w3-padding-large.w3-center #{r.tipo}
                            td.w3-padding-large.w3-center #{r.dataRegisto}

                            if nivel == "admin"
                                if r.visibilidade == 1
                                    td.w3-padding-large.w3-center Privado
                                else
                                    td.w3-padding-large.w3-center Público
                            
                                td
                                    button.w3-button.w3-padding-small.w3-round.w3-meddium.w3-hover-red.w3-right.w3-margin-right(onclick=`addConfirmacao('recurso', '/recurso/${r.id}/remover?tab=1');`) 
                                        u Eliminar

            //- Ordenado normal
            else
                tr.w3-theme-d2
                    th ID
                    th(style="width:600px;") Título
                    th(style="width:300px;") Produtor
                    th.w3-center Tipo
                    th.w3-center Data Registo
                    if nivel == "admin"
                        th.w3-center
                            select.w3-theme-d2.w3-border-0(id="visSelect" onchange=`showVis('')`)
                                    option(value='3') Visibilidade
                                    option(value='1') Privado
                                    option(value='2') Público
                        th.w3-center 

                each r in recursos

                    tr(id="" class=`recurso ${r.tipo} ${r.owner} ${r.visibilidade}` style="display:")
                        td.w3-padding-large
                            a(href=`/recurso/${r.id}`) #{r.id} 
                        td.w3-padding-large= r.titulo 
                        td.w3-padding-large
                            a(href=`/user/${r.owner}`) #{r.owner}
                        td.w3-padding-large.w3-center #{r.tipo}
                        td.w3-padding-large.w3-center #{r.dataRegisto}

                        if nivel == "admin"
                            if r.visibilidade == 1
                                td.w3-padding-large.w3-center Privado
                            else
                                td.w3-padding-large.w3-center Público
                        
                            td
                                button.w3-button.w3-padding-small.w3-round.w3-meddium.w3-hover-red.w3-right.w3-margin-right(onclick=`addConfirmacao('recurso', '/recurso/${r.id}/remover?tab=1');`) 
                                    u Eliminar
    else
        p.w3-margin-left Não existem recursos.
