extends layout

block content
    
    .w3-light-grey
        header.w3-container.w3-theme-d4.w3-text-white
            h1
                a.w3-opacity(href="/mainPage" style="text-decoration: none") Gestor de Recursos
        
        .w3-bar.w3-theme-d4
            h3.w3-margin-left Resultados: #{procura}
        .w3-bar.w3-theme-d4
            span
                if tab === "tab1"
                    button.w3-bar-item.w3-hover-opacity.w3-padding(class="w3-theme-d3 tablink", onclick="openDiv(event, 'titulo', 'nao');") Encontrado no Título
                    button.w3-bar-item.w3-hover-opacity.w3-padding(class="w3-theme-d4 tablink", onclick="openDiv(event, 'hashtag', 'nao');") Encontrado nas Hashtags
                else
                    button.w3-bar-item.w3-hover-opacity.w3-padding(class="w3-theme-d4 tablink", onclick="openDiv(event, 'titulo', 'nao');") Encontrado no Título
                    button.w3-bar-item.w3-hover-opacity.w3-padding(class="w3-theme-d3 tablink", onclick="openDiv(event, 'hashtag', 'nao');") Encontrado nas Hashtags

        .w3-bar.w3-theme-d3.w3-padding-small
            h6.w3-margin-left Género: 
                each t in tipos
                    input.w3-check.w3-opacity.w3-margin-left(style="height:20px" type="checkbox" value="checked" class="check" onclick=`showGeneros(event, '${t}')` checked)
                    label  #{t}
                button.w3-opacity.w3-round.w3-button.w3-right.w3-padding-small.w3-margin-right(id="limpar" onclick="limparGeneros(event)") Limpar
            form(action='/recursos/procurar' method='POST')
                h6.w3-margin-left Procurar: 
                    input.w3-opacity.w3-round.w3-margin-left(name="search")
            h6
                span.w3-dropdown-hover.w3-margin-left.w3-margin-bottom.w3-theme-d3 Ordenar por:
                    span.w3-text-white.w3-round.w3-border-0.w3-hover-opacity.w3-theme-d3.w3-margin-left= sort
                    span.w3-dropdown-content.w3-bar-block
                        if sort != "id"
                            a(href="/mainPage?sortBy=id").w3-bar-item.w3-button.w3-theme-d3.w3-hover-opacity ID
                        if sort != "titulo"
                            a(href="/mainPage?sortBy=titulo").w3-bar-item.w3-button.w3-theme-d3.w3-hover-opacity Título
                        if sort != "owner"
                            a(href="/mainPage?sortBy=owner").w3-bar-item.w3-button.w3-theme-d3.w3-hover-opacity Produtor
                        if sort != "dataRegisto"
                            a(href="/mainPage?sortBy=dataRegisto").w3-bar-item.w3-button.w3-theme-d3.w3-hover-opacity Data Registo
        
        - var tab1 = "block"   
        - var tab2 = "none"   
        if tab === "tab2"
            - var tab1 = "none"
            - var tab2 = "block"

        div.w3-display-container(class="lista", id="titulo", style=`display:${tab1}`)

            if recTitulo.length
                table.w3-table.w3-bordered
                    tr.w3-theme-d2.w3-mobile
                        th ID
                        th(style="width:600px;") Título
                        th(style="width:300px;") Produtor
                        th.w3-center Tipo
                        th.w3-center Data Registo
                        
                        each r in recTitulo

                            tr.w3-mobile(class=`recurso ${r.tipo} ${r.owner} ${r.visibilidade}` style="display:")
                                td.w3-padding-large
                                    a(href=`/recurso/${r.id}`) #{r.id} 
                                td.w3-padding-large= r.titulo 
                                td.w3-padding-large
                                    a(href=`/user/${r.owner}`) #{r.owner}
                                td.w3-padding-large.w3-center #{r.tipo}
                                td.w3-padding-large.w3-center #{r.dataRegisto}          
            else
                p.w3-margin-left Não existem recursos com esse título.

        div.w3-display-container(class="lista", id="hashtag", style=`display:${tab2}`)

            if recHashtag.length
                table.w3-table.w3-bordered
                    tr.w3-theme-d2.w3-mobile
                        th ID
                        th(style="width:600px;") Título
                        th(style="width:300px;") Produtor
                        th.w3-center Tipo
                        th.w3-center Data Registo
                        
                        each r in recHashtag

                            tr.w3-mobile(class=`recurso ${r.tipo} ${r.owner} ${r.visibilidade}` style="display:")
                                td.w3-padding-large
                                    a(href=`/recurso/${r.id}`) #{r.id} 
                                td.w3-padding-large= r.titulo 
                                td.w3-padding-large
                                    a(href=`/user/${r.owner}`) #{r.owner}
                                td.w3-padding-large.w3-center #{r.tipo}
                                td.w3-padding-large.w3-center #{r.dataRegisto}
            else
                p.w3-margin-left Não existem recursos com essa hashtag.


        .w3-container.w3-theme-d4.w3-text-white.w3-padding.w3-padding-large
            span(onclick="window.history.go(-1)" style="text-decoration: underline; cursor:pointer;" ) Voltar

