extends layout

block content

    .w3-light-grey
        header.w3-container.w3-theme-d4.w3-text-white
            h1.w3-opacity Gestor de Recursos
        .w3-bar.w3-theme-d4
            h3.w3-margin-left Recurso #{recurso.id}
                if eliminar
                    button.w3-margin-right.w3-right.w3-button.w3-round-large.w3-text-white.w3-large.w3-hover-red
                        a(href=`/recurso/${recurso.id}/remover`).w3-right Eliminar

        .w3-container
            h5
                b.w3-text-blue-grey Título:
                span  #{recurso.titulo}


            h5
                b.w3-text-blue-grey Tipo:
                span  #{recurso.tipo}

            h5
                b.w3-text-blue-grey Visibilidade:
                if recurso.visibilidade == 1
                    span  Privado
                else
                    span  Público

            h5
                b.w3-text-blue-grey Autor:
                span  #{recurso.autor}

            h5
                if recurso.hashtags.length
                    b.w3-text-blue-grey Hashtags:
                    each h in recurso.hashtags
                        span  
                        a(href=`/recursos?hashtag=${h}`)
                            span #{h}

            h5.w3-text-red
                b Comentários
            table.w3-table-all
                tr

            br     
        
        .w3-container.w3-theme-d4.w3-text-white.w3-padding.w3-margin-top.w3-padding-large
            address 
                a(href="/mainPage") Voltar