extends layout

block content

    .w3-light-grey
        header.w3-container.w3-theme-d4.w3-text-white
            a(href="/mainPage" style="text-decoration: none")
                h1.w3-opacity Gestor de Recursos
        .w3-bar.w3-theme-d4
            h3.w3-margin-left Editar Recurso
        form.w3-container.w3-padding-large(action=`/recurso/editar/${recurso._id}?r=${r}` method='POST')

            h5.w3-cell-row.w3-padding
                label.w3-cell(style="width:100px") Título
                input.w3-input.w3-margin-left(type="text" name="titulo" value=`${recurso.titulo}` placeholder=`Introduza o título` required)
            h5.w3-cell-row.w3-padding
                label.w3-cell(style="width:100px") Subtítulo
                input.w3-input.w3-margin-left(type="text" name="subtitulo" value=`${recurso.subtitulo}` placeholder=`Introduza o subtítulo`)
            
            h5.w3-cell-row.w3-padding
                label.w3-cell(style="width:100px") Tipo:
                input.w3-input.w3-margin-left.w3-round.w3-cell(type="text" name="tipo" pattern="[A-Za-z]*" value=`${recurso.tipo}` placeholder=`Introduza o tipo de recurso (artigo, tese, relatório...)` required)
            
            h5.w3-cell-row.w3-padding
                label.w3-cell(style="width:100px") Visibilidade:
                select.w3-select.w3-margin-left(style="width:400px" name="visibilidade" required)
                    if recurso.visibilidade == 1
                        option(value="1") Privado
                        option(value="2") Público
                    else
                        option(value="2") Público
                        option(value="1") Privado

            h5.w3-cell-row.w3-padding
                label.w3-cell(style="width:100px") Hashtags: 
                input.w3-input.w3-margin-left(type="text" name="hashtags" value=`${hashtags}` placeholder=`Introduza as hashtags separadas por espaços (exemplo: SD MachineLearning VisaoPorComputador)`)
            
            h5.w3-cell-row.w3-padding
                label.w3-cell(style="width:100px") Ficheiro ZIP:
                span.w3-margin-left #{recurso.fileName}

            input.w3-input(type="hidden" name="id" value=`${recurso._id}`)
            input.w3-input(type="hidden" name="dataRegisto" value=`${recurso.dataRegisto}`)
            input.w3-input(type="hidden" name="autor" value=`${recurso.autor}`)
            input.w3-input(type="hidden" name="fileName" value=`${recurso.fileName}`)


            h5.w3-cell-row.w3-padding.w3-margin-top
                input.w3-btn.w3-blue-grey.w3-round(type="submit" value="Enviar")
        
        .w3-container.w3-theme-d4.w3-text-white.w3-padding.w3-margin-top.w3-padding-large
            address 
                a(href=`/recurso/${recurso._id}`) Voltar